*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body
{
    background-color: #FFEBCD;
}

.hero
{
    height:100%;
    width:100%;
    /*background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Login&Register.png);*/
    background-color: #FFEBCD;
    background-size: cover;
    position:absolute;
}

.navbar {
    font-size: 120%;
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li a
{
    width:180px;
    height:60px;
    text-decoration: none;
    color: rgb(254, 251, 251);
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f9f8f8;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.header
{
    background-color:#778899 ;
    box-shadow:0 0 20px 9px #0a0a0a1f;
    margin-bottom: 20px;
}

.header .row {
    margin-top: 70px;
}

.form-box
{
    width:380px;
    height:520px;
    position:relative;
    margin:5% auto;
    margin-bottom: 80px;
    background:#D2B48C;
    padding:10px;
    overflow:hidden;
}
.button-box
{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow:0 0 20px 9px #FFEBCD;
    border-radius:30px;
}
.toggle-btn
{
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
}
#btn
{
  top:0;
  left:0;
  position:absolute;
  width:110px;
  height:100%;
  /*background:linear-gradient(to right,#D2B48C,#FFEBCD);*/
  background-color:#778899 ;
  border-radius:30px;
  transition: .5s;
}
.social-icons
{
    margin:30px auto;
    text-align:center;
}
.social-icons img
{
    width:30px;
    margin:0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor:pointer;
    border-radius: 50%;
}
.input-group
{
    top:180px;
    position:absolute;
    width:280px;
    transition: .5s;
}
.input-field
{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background:transparent;
}

::placeholder
{
    color:rgb(5, 5, 5);
}

.submit-btn
{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background-color:#778899 ;
    border:0;
    outline:none;
    border-radius: 30px;
}

.form-container .error-msg
{
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }

#login
{
    left:50px;
}
#register
{
    left:450px;
}

@media(max-width:700px)
{
    .col-2 
    {
        font-size: 10px;
    }

    .testimonies1
    {
        margin-bottom: 5%;
    }

    .col-3
    {
        margin-bottom: 5%;
    }

    .nav-links ul li
    {
       display:block;
       margin-bottom:10px;
       margin-top: 5px;
    }

    .nav-links
    {
        position:absolute;
        background:#f44336;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:center;
        z-index:2;
        transition: 1s;
    }

    .icon
    {
        background: #f44336;;
    }

    .btn2
    {
        background:#f44336;;
    }

    .menu-icon
    {
        display:block;
        color:#fff;
        margin:10px;
        font-size:15px;
        cursor:pointer;
    }

    /*.form-box
    {
        width: 330px;
        height: 520px;
    }*/

    /*.hero
    {
        width:100%;
        height:100%;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Login&Register.png);
        background-size: cover;
        position:absolute;
    }*/
}